*   {
    box-sizing: border-box;
}

html    {
    background-color: #c5afb0;    
}

body    {
    color: #1d1a1c;
    font-family: Georgia !important;
    margin: 0;
}

a {
    color: #1d1a1c;
    text-decoration: none;
}

p {
    text-align: justify;
}

header {
    background-repeat: no-repeat;
    padding: 65px;
    text-align:center;
    background-image: url(../images/pexels-steve-johnson-1572386.jpg);
    background-size:150%; 
}

nav {
    display: flex;
    background-color: #c5afb0;
    width: 100%;
    padding: 5px;
    border-top: 2.5px solid #1d1a1c;
}

footer {
    background-color: #c5afb0;
    height: 75px;
    padding: 15px;
    border-bottom: 2.5px solid #1d1a1c;
}

nav a {
    margin: 0 auto;
}

h1  {
    font-size: 30pt;
    text-align: center;
}

h2  {
    font-size: 24pt;
    font-size: 20pt;
    text-align: center;
    margin-top: 100px;
}

h3  {
    font-size: 18pt;
    line-height: 0;
    text-align: center;
    padding: 50px 0px 10px 0;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 3px solid #ac8220;
    border-radius: 3px; 
    box-sizing: border-box; 
    margin-top: 10px; 
    margin-bottom: 16px; 
    resize: vertical; 
    font-family: Georgia ;
    color: #e0dacc;
}

select {
    color:#444444;
}

/* ******* Classes ******* */

.container {
    border-radius: 80px;
    padding: 50px;
    flex: 4;
    display: flex;
    flex-wrap: wrap;
}

.header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:auto;
}

.nav-icons {
    height: 20px;
    width: auto;
}

.contactNav   {
    padding: 15px;
}

.contactNav img:hover   {
    transform: scale(1.20);
}

.headerLogos img  {
    text-decoration: none;
    width: 250px;
}

.headerLogos .contactimgs {
    width: 300px;
    margin: 5px auto;
}

.about img{
    margin-left: auto;
    margin-right: auto;
}

.responsiveGrid  {
    flex: 4;
    display: flex;
    flex-wrap: wrap;
}

.contactHeader    {
    width: 250px;
    height: auto;
    padding: 25px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home {
    color: #444444;
    background-color: #e0dacc;
    border: none;
}

.bioImg {
    height: 100px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 350px;
    border-radius: 2500px;
}

.container {
    display: flex;
    flex-direction: row;
    color: #e0dacc;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 35px 50px;
}

.about {
    margin: 25px 0;
    margin-left: auto;
    margin-right: auto;
    color: #e0dacc;
    max-width: 750px;
    padding: 15px;
    border: solid #e0dacc;
    border-radius: 2px;
}

.footerImg {
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box-properties { 

    background: #eee5f1; /* Old browsers */
    background: -moz-linear-gradient(top,  #c5afb0 0%, #eee5f1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #c5afb0 0%,#eee5f1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #c5afb0 0%,#eee5f1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c5afb0', endColorstr='#eee5f1',GradientType=0 );

    height: 250px;
    font-size: 24pt;
    text-decoration: none;
    border-style: solid;
    border-width: 1.75px;
    border-color: #c5afb0;
    border-radius: 15px;
    margin: 10pt 10pt;
    flex: 1 1 350px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.div-imgs   {
    height: 55px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
}

.box-properties:hover {
    transform: scale(.97);
    box-shadow: inset 0px 0px 8px
    #c5afb0, 0 0 25px
    #1d1a1c;
    transition: all .15s ease-in-out;
}

/* *******Mobile sizing******* */

@media (max-width: 768px) {
    .main-content {
    padding: 20px 8px;
    }
}